<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.yan.oschina">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".my.activity.FansNumberActivity"></activity>
        <activity android:name=".my.activity.FocusNumberActivity" />
        <activity android:name=".my.activity.CollectNumberActivity" />
        <activity android:name=".my.activity.TweetNumberActivity" />
        <activity android:name=".news.activity.NewsDetailActivity" />
        <activity android:name=".news.activity.BlogDetailActivity" />
        <activity android:name=".activity.TextActivity" />
        <activity android:name=".my.activity.MySetActivity" />
        <activity android:name=".news.activity.SearchActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.TweetActivity" />
        <activity android:name=".my.activity.MedalActivity" />
        <activity android:name=".my.activity.AttentionActivity" />
        <activity android:name=".my.activity.ReadActivity" />
        <activity android:name=".my.activity.MyblogActivity" />
        <activity android:name=".my.activity.ShakyActivity" />
        <activity android:name=".my.activity.MydeliverActivity" />
        <activity android:name=".my.activity.MyquestionActivity" />
        <activity android:name=".my.activity.RosterActivity" />
        <activity android:name=".my.activity.MessageActivity" />
        <activity android:name=".my.activity.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>